body {
    font-family: Arial;
    background-color: #555;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header and navbar */
header {
    background-color: #333;
    padding: 20px;
    position: fixed;
    width: 100%;
}

header h1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 5%;
    color: #fff;
    text-align: start;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header ul li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}


nav {
    width: 100%;
    margin-top: 78px;
    position: fixed;
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
}

#accueilpropos {
    float: left;
}

#loginsignup {
    float: right;
    margin-right: 25px;
}

/* Content styling */
.break{
    margin-top: 120px;
}

.content {
    border: 0px solid black;
    border-radius: 20px;
    background-color: rgba(51, 0, 0, 0.212);
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1080px;
    align-items: center;
}

.bloc {
    width: fit-content;
}

h2,
h3,
p,
ol,
ul {
    margin: 0 30px 20px;
    color: #fff;
}

.img1 img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .content {
        display: flex;
        flex-direction: column;
        flex: auto;
        padding: 0 50px 0 50px;
    }

    .bloc,
    .img1 {
        max-width: 90%;
        width: auto;
    }
}

@media screen and (min-width: 768px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        padding: 0 50px 0 50px;
    }

    .bloc {
        min-width: 334px;
        width: calc(90% - 250px);
        float: left;
    }

    .img1 {
        max-width: 436px;
        width: calc(10% + 250px);
        float: left;
    }
}

/* Button styles */
.btn {
    max-width: fit-content;
    text-decoration: none;
    background-color: rgb(89, 86, 255);
    color: white;
    border: 1px transparent;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 50px 30px 20%;
    margin-left: 10px;
}


.btn:hover {
    background-color: rgb(63, 62, 173);
}

/* Footer */
footer {
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 10px 0;
    background-color: #333;
    width: 100%;
    margin: auto;
}

input:focus {
    outline: none;
}